<!DOCTYPE html>
<html>
<head>
  <title>NetMon Dashboard</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-4">
    <h2>NetMon - Network Monitoring Dashboard</h2>
    <div class="mb-4">
      <iframe src="http://localhost:3000/d/rYdddlPWk/node-exporter-full?orgId=1&from=now-24h&to=now&timezone=browser&var-DS_PROMETHEUS=aeysnj0uaj4lcc&var-job=node_exporter&var-nodename=4d586cf7d7d7&var-node=node_exporter:9100&var-diskdevices=%5Ba-z%5D%2B%7Cnvme%5B0-9%5D%2Bn%5B0-9%5D%2B%7Cmmcblk%5B0-9%5D%2B&refresh=1m"
              width="100%" height="700" frameborder="0"></iframe>
    </div>
  </div>
</body>
</html>
